@keyframes spotlightMove {
  0% {
    background-position: var(--start-x) var(--start-y);
  }

  50% {
    background-position: var(--middle-x) var(--middle-y);
  }

  100% {
    background-position: var(--end-x) var(--end-y);
  }
}

.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 10%, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 1) 70%);
  background-size: 200% 200%;
  animation: spotlightMove 3s ease-in-out forwards;
  z-index: 1000;
}
